.filterContainer {
  margin-bottom: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.labelElement {
  font-weight: 700;
}

.inputElement {
  padding: 4px 6px;
  border-radius: 3px;
  border: none;
  background-color: #ddd;
  color: #222;
  font-weight: 600;
}
