.prevNextButtons {
  background-color: #fff5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 4px;
  padding: 10px 12px;
  width: 120px;
}

.prevNextButtons span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
}

.prevNextButtons svg {
  background-color: #fff;
  border-radius: 50%;
  padding: 2px;
  width: 18px;
  height: 18px;
}

.navigationContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
