.shoppingCart {
  position: relative;
}

.shoppingCartNumber {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25%;
  right: -35%;
  min-width: 22px;
  width: min-content;
  height: 22px;
  font-size: 18px;
  font-weight: 700;
  background-color: #666;
  color: #fff;
  border-radius: 50%;
}
